@model IEnumerable<EcommerceHouse.Models.Products>
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-dark">House for sale List</h2>
    </div>
    <div class="col-6 text-right">
        <a asp-action="Create" class="btn btn-dark"><i class="fa fa-plus"></i>&nbsp; New Listing</a>
    </div>
</div>
<br />
<div>
    <table class="table table-striped border">
        <tr class="table-dark">
            <th>
               Location
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Available)
            </th>
            <th>
               House Type
            </th>
            <th>
               Bedrooms
            </th>
            <th></th>
            <th></th>

        </tr>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                £@Html.DisplayFor(m => item.Price)
            </td>
            <td>
                @Html.DisplayFor(m => item.Available)
            </td>
            <td>
                @Html.DisplayFor(m => item.ProductTypes.Name)
            </td>
            <td>
                @if (!item.Tags.TagName.Equals("--None--"))
                {
                @Html.DisplayFor(m => item.Tags.TagName)
                }
            </td>
            <td>
                <partial name="_TableButtonPartial" model="item.Id" />
            </td>
        </tr>
        }
    </table>
</div>
